#error-message {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: var(--xl);
  color: var(--nord13);
  text-align: center;
  margin: 0;
  padding: 20px;
  transition: color 400ms ease-in-out 0s;
}