.todo-filter {
  position: relative;
  margin: 0 auto;
}

.todo-filter > input:disabled ~ svg {
  fill: var(--nord1);
}

.todo-filter > svg {
  fill: var(--nord4);
  position: absolute;
  top: calc((100% - 16px) / 2);
  left: 8px;
}

.todo-filter > input {
  background-color: var(--nord1);
  color: var(--nord6);
  font-family: 'Inter', sans-serif;
  font-size: var(--md);
  display: block;
  outline: none;
  width: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
  padding: 4px 0 4px 32px;
  border-radius: 4px;
  margin: 0;
  line-height: 1.5;
  transition:
    border-color 100ms ease-in-out 0s,
    color 400ms ease-in-out 0s,
    background-color 400ms ease-in-out 0s;
}

input:focus {
  border-color: var(--nord3);
}

input::placeholder {
  color: var(--nord4);
}

input:disabled {
  background-color: var(--nord0);
}

input:disabled::placeholder {
  color: var(--nord1);
}
