.add-todo-button {
  fill: #88c0d0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  cursor: pointer;
  box-shadow: rgba(15, 17, 21, 0.25) 0px 4px 6px, rgba(15, 17, 21, 0.1) 0px 5px 7px;
  transition: box-shadow 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s, transform 0.3s ease;
}

.add-todo-button:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .add-todo-button {
    position: absolute;
    bottom: -24px;
  }
}