h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: var(--lg);
  color: var(--nord6);
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

h2::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--nord4);
  width: 85%;
  margin: 16px auto 0;
}

h2 > span {
  color: var(--nord7);
  transition: color 400ms ease-in-out 0s;
}

#error {
  color: var(--nord11)
}

#loading {
  color: var(--nord13)
}